.box {
    color: white;
    display: flex;
    justify-content: center ;
    align-items: center;
    position: fixed;
    top: calc((100vh - 105px)/2);
    left: calc((100vw - 140px)/2);
    width: 140px;
    height: 105px;
    background-color: red;
    border-radius: 50% / 11%;
  }
  
  .box::before{
    content: "";
    position: absolute;
    background-color: red;
    top: 10%;
    bottom: 10%;
    left: -5%;
    right: -5%;
    border-radius: 5% / 50%;
  }
  
  #playbutton--icon{
    color: white;
    position: relative;
    font-size: 50px;
  }
  
  @keyframes minimize-play-button {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(0);
    }
  }
  
  .minimize-play-button{
    animation: minimize-play-button 0.2s linear forwards;
  }